// Sample green theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first
/*
 * #BBCDC5 = light green
 * #738677 = dark green
 * #444949 = dark grey
 */

// Define the primary green color
$green: #738677;

// Make green the primary color
$primary: $green;

// Theme fonts
$font-family-sans-serif: 'Poppins';

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
